.header {
  height: 50px;
  background-color: var(--color-prairie-sand);

  display: flex;
}

.header-btn {
  align-items: center;
  color: var(--color-persian-plum);
  font-weight: 800;
  font-family: sans-serif;
}
