.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: var(--color-blackcurrant);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-footer {
  /* background-color: var(--color-anzac); */
  color: var(--color-anzac);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.btn-footer:hover {
  color: var(--color-prairie-sand);
}

.return-button:hover {
  color: var(--color-prairie-sand);
}
