.meme {
  height: 400px;
  margin: auto;
  width: 400px;
  /* opacity: 90%; */
}

.homepage-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 110px);
}
