input, textarea {
  border: 0px;
  background-color: #cd8a39;
}

input:focus, textarea:focus {
  border: 0px;
  background-color: #cd8a39;
}
.contact-card {
  max-width: 500px;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--color-prairie-sand);
  margin: 2rem;
}

.contact-title {
  color: var(--color-persian-plum);
  font-weight: bold;
}

.form-control:focus {
  border-color: var(--color-prairie-sand);
}

.btn-custom {
  background-color: var(--color-persian-plum);
  color: var(--color-anzac);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--color-prairie-sand);
  transform: translateY(-2px);
}
