/* Box centrée */
.contact-card {
  max-width: 500px;
  width: 100%;
  border-radius: 1rem;
  border-top: 6px solid var(--color-anzac);
  background-color: var(--color-prairie-sand);
  margin: 2rem;
}

/* Titre */
.contact-title {
  color: var(--color-tom-thumb);
  font-weight: bold;
}

.form-control:focus {
  border-color: var(--color-prairie-sand);
  box-shadow: 0 0 0 0.2rem rgba(155, 70, 31, 0.25);
}

/* Bouton */
.btn-custom {
  background-color: var(--color-persian-plum);
  color: #fff;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--color-prairie-sand);
  transform: translateY(-2px);
}
