<div class="container my-5">
  @if (contactData.nom == null) {
    <Error404></Error404>
  }
  @else {
    <div class="card shadow-lg contact-data-card">
      <div class="card-body">
        <h2 class="contact-data-title">Données du formulaire :</h2>
        <p><strong>Prénom :</strong> {{ contactData.prenom }}</p>
        <p><strong>Nom :</strong> {{ contactData.nom }}</p>
        <p><strong>Âge :</strong> {{ contactData.age }}</p>
        @if (contactData.email != null) {
          <p><strong>Email :</strong> {{ contactData.email }}</p>
        }
        <p><strong>Commentaire :</strong> {{ contactData.commentaire }}</p>
      </div>
    </div>
  }
</div>
